.container {
  .contents {
    margin-top: 24px;
  }
  .title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
  .password {
    margin-top: 20px;
  }
  .button {
    margin-top: 24px;
  }
  .message {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 700;
    color: red;
  }
}
