.header {
  display: flex;
  //   justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-align: start;
}

.logout {
  margin-left: auto;
  font-size: 30px;
}
